
-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: red;
  border-radius: 6px;

  /* there must be 'bottom' for ps__thumb-x */
 
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   border-radius: 6px;
}